{% extends "base.html" %}
{% block title %} Create A New Account {% endblock %}
{% load static %} {% block stylesheets %}


{% endblock %} {% block content %}
<h2>Create Account</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-wrapper">
    {{ form.as_p }}
    {% if request.user.is_authenticated %}
        <button type="submit" class="accent-button">Save</button>
    {% else %}
        <button type="submit" class="accent-button">Create Account</button>
    {% endif %}
    </div>


</form>
{% endblock %}

<!--newaccount, seconduser@example.com, qwerty345@, bob3, qwerty345$-->

<!--cross site request forgery - security feature. Makes it harder for people to steal your credentials/trick you into clicking on their website?? -->

<!-- Most viewed stories, what's new, welcome message, keyword/title search function, favourites/saved/read, history of read stories, share function, related stories, comments, bookmarks, tags, ratings, sorting, accessibility?. Ratings, tags, top content, bookmarks, search, share on social media - easy. ratings - harder-->