{% extends 'base.html' %}

{% block content %}

<h2>Hi {{ user.name|capfirst }}!</h2>
<p>Username: {{ user.username }}</p>
<p>{{ user.bio }}</p>
<div>Contact:
    <ul>
        <li><a href="#">Email</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">GitHub</a></li>
    </ul>
</div>

<div id="latest-stories">
  {% if stories %} 
  {% for story in stories %} 
    {% include "./storyCard.html" with story=story position=forloop.counter %}
  {% endfor %} {% else %}
  <p>No stories are available.</p>
  {% endif %}
</div>

<a href="{% url 'users:editAccount' request.user.id %}">Edit Account</a>


{% endblock %}
