<nav>
    <a id="header-link" href="{% url 'news:index' %}">
        <h1>She {Codes} News</h1>
    </a>
    <ul class="nav-bar">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'users:profile' request.user.id %}">My Profile</a></li>
        <li><a href="{% url 'news:newStory' %}">Write New Story</a></li>
        <li><a href="{% url 'news:addCategory' %}">Create New Category</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'users:createAccount' %}">Create Account</a></li>
        {% endif %}
    </ul>
</nav>

<!-- double curly braces - this is a templating language, Jinga2. Allows dynamic content into HTML. % are for ifelse/for statements -->