:root {
  --heading-font-family: "Montserrat", sans-serif;
  --body-font-family: "Poppins", sans-serif;
  --body-text-colour: #dbdbdb;
  --secondary-body-text-colour: #82919b;
  --background-colour: #1f2933;
  --heading-text-colour: #9aa5b1;
  --accent-colour: #f2c7a1;
}

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  background-color: var(--background-colour);
  scroll-behavior: smooth;
  margin: 0 auto;
  padding: 0 15px;

}

body{
    overflow-x: hidden;
    padding-top: 60px;
    margin: 0 auto;
    padding-bottom: 60px;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: var(--body-font-family);
  background-color: var(--background-colour);
  z-index: 1;
  height: 10vh;
  box-sizing: border-box;
  padding: 0 20px;

}

nav ul {
  list-style-type: none;
}

nav ul li{
    display: inline-flex;
    margin-left: 40px;
    font-weight: 300;
    
}

a{
    text-decoration: none;
}
nav ul li a, nav a {
    text-decoration: none;
    color: var(--body-text-colour);
}

a:visited{
    color: var(--body-text-colour);
}

nav ul li:hover a {
  color: var(--accent-colour);
  transition: 0.5s;
}

h1{
    font-weight: 400;
    font-size: 25px;
}
