:root {
  --heading-font-family: "Montserrat", sans-serif;
  --body-font-family: "Poppins", sans-serif;
  --body-text-colour: #dbdbdb;
  --secondary-body-text-colour: #82919b;
  --background-colour: #1f2933;
  --heading-text-colour: #9aa5b1;
  --accent-colour: #f2c7a1;
}

#latest-stories {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 40px;

}

#latest-stories .story-card{
    margin: 0 auto;
    border-radius: 8px;
    font-family: var(--body-font-family);
    padding-bottom: 20px;
    max-width: 300px;
    height: 400px;
    background-color: #3E4C59;
}

#latest-stories .story-card h3{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    height: 90px;
}

#latest-stories .story-card a{
    text-decoration: none;
    color: var(--body-text-colour);
}


#latest-stories .story-card .story-card-category{
    float: right;
    clear: left;
    display: block;
    margin-right: 10px;
    margin-top: 0px;
    font-size: 12px;
    border: 1px solid var(--body-text-colour);
    padding: 5px 8px;
    width: fit-content;
    border-radius: 8px;
}

#latest-stories .story-card .story-card-category:hover{
    border: 1px solid var(--accent-colour);
    color: var(--accent-colour);
    transition: 0.5s;
}

#latest-stories .story-card .story-card-author{
    margin-left: 10px;
    font-size: 15px;
    margin-bottom: 100px;
    float: left;
    clear: right;
}

#latest-stories .story-card .story-card-author:hover{
    color: var(--accent-colour);
    transition: 0.5s;
}

#latest-stories .story-card .story-card-date{
    font-size: 11px;
    margin-left: 10px;
    color: var(--secondary-body-text-colour)
}

#latest-stories img{
    width: 300px;
    height: 50%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

h2{
    text-align: center;
    font-family: var(--heading-font-family);
    margin-top: 100px;
    color: var(--heading-text-colour)
}

#all-stories{
    width: 100%;
    margin: 0 auto;
}


#all-stories .story-card{
    display: block;
    width: 1200px;
    margin: 0 auto;
    border: 1px solid var(--secondary-body-text-colour);
    border-radius: 8px;
    margin-bottom: 20px;
    padding:0;
}



#all-stories .story-card-link{
    align-items: center;
}

#all-stories img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    float: left;
    clear: right;
    border-radius: 8px 0 0 8px;
}

#all-stories .story-card-text{
    display: inline-block;
    height: 200px;
    padding-left: 20px;
    font-family: var(--body-font-family);
    text-decoration: none;
}

#all-stories .story-card h3{
    font-weight: 500;
}

#all-stories .story-card .story-card-date{
    color: var(--secondary-body-text-colour);
    font-size: 15px;
}

#all-stories .story-card .story-card-category{
    font-size: 12px;
    border: 1px solid var(--body-text-colour);
    padding: 5px 8px;
    width: fit-content;
    border-radius: 8px;
    color: var(--body-text-colour)
}

#all-stories .story-card .story-card-category:hover{
    border: 1px solid var(--accent-colour);
    color: var(--accent-colour);
    transition: 0.5s;
}

#all-stories .story-card .story-card-author{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 100px;
    display: block;
    color: var(--heading-text-colour);
}

#all-stories .story-card .story-card-author:hover{
    color: var(--accent-colour);
    transition: 0.5s;
}

#story-wrapper{
    padding-top: 50px;
}

.accent-button{
    background-color: #1f2933;
    color: var(--body-text-colour);
    border: 1px solid var(--body-text-colour);
    padding: 5px 8px;
    border-radius: 8px;
    font-family: var(--body-font-family);
    font-weight: 200;
    font-size: 13px;
}

.accent-button:hover{
    color: var(--accent-colour);
    border: 1px solid var(--accent-colour);
    transition: 0.5s;
}

.story-buttons{
    margin: 0 auto;
    text-align: center;
}

#story-wrapper h2{
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 40px;
}

#story-wrapper img{
    height: 300px;
    width: 500px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}

#story-content p{
    text-align: center;
    color: var(--body-text-colour);
    font-size: 20px;
    font-family: var(--body-font-family);
    font-weight: 200;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    line-height: 38px;
    margin-top: 50px;
}

.category-button{
    margin: 0 auto;
    display: block;
    width: fit-content;
}

.story-author{
    color: var(--body-text-colour);
    font-family: var(--body-font-family);
    font-weight: 400;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.story-author:hover{
    color: var(--accent-colour);
    transition: 0.5s
}

.comments-wrapper{
    margin-top: 60px;
    padding: 0 200px;
    color: var(--body-text-colour);
    font-family: var(--body-font-family);
}

.comments-wrapper h3{
    font-weight: 400;
}

.comments-wrapper p{
    margin-bottom: 20px;
    font-weight: 200;
}

.comment-wrapper{
    border: 1px solid var(--secondary-body-text-colour);
    margin-top: 15px;
    border-radius: 8px;
    padding: 0 10px;
}

.comment-wrapper .comment-details{
    color: var(--secondary-body-text-colour);
    font-size: 15px;
}

form{
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}

.form-wrapper{
    margin-top: 50px;
    color: var(--body-text-colour);
    font-family: var(--body-font-family);
}

.form-item{
    /* background-color:#1f2933 ; */
    border: 1px solid var(--secondary-body-text-colour);
    border-radius: 4px;
    font-family: var(--body-font-family);
    width: 400px;
    font-size: 17px;
}

.profile-wrapper h2{
    font-size: 30px;
    color: var(--body-text-colour);
    margin-top: 100px;
    margin-bottom: 50px;
}

.profile-wrapper .profile-picture{
    width: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;

}

.profile-wrapper .profile-bio{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: var(--body-font-family);
    color: var(--body-text-colour);
    margin-top: 50px;
    color: var(--body-text-colour);
    max-width: 600px;
}

.profile-wrapper .contact-icons{
    list-style-type: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-wrapper .contact-icons li{
    display: inline;
    font-size: 30px;
    padding: 10px;
}

.profile-wrapper .contact-icons li a{
    color: var(--heading-text-colour) 
}

.profile-wrapper .contact-icons li a:visited{
    color: var(--heading-text-colour)
}

.profile-wrapper .contact-icons li a:hover{
    color: var(--accent-colour);
    transition: 0.5s;
}

.profile-wrapper h4{
    color: var(--heading-text-colour);
    font-family: var(--heading-font-family);
    text-align: center;
    font-size: 20px;
}

.profile-wrapper #all-stories{
    margin-top: 100px;
}

.profile-wrapper .accent-button{
    margin: 0 auto;
    display: block;
    width: fit-content;
    margin-top: 50px;
}



.header-text{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
    color: var(---background-colour);
    font-family: var(--heading-font-family);
}

.header-text span{
    opacity: 0;
    text-shadow:
    0 0 7px var(--heading-text-colour),
    0 0 10px var(--heading-text-colour),
    0 0 21px var(--heading-text-colour);
    /* 0 0 42px var(--accent-colour),
    0 0 82px var(--accent-colour),
    0 0 92px var(--accent-colour),
    0 0 102px var(--accent-colour),
    0 0 151px var(--accent-colour); */
}

.header-text .word-1{
    -webkit-animation: fadeIn linear 1s forwards;
    animation-delay: 0.5s;
}

.header-text .word-2{
    -webkit-animation: fadeIn linear 1s forwards;
    animation-delay: 1s;
}

.header-text .word-3{
    -webkit-animation: fadeIn linear 1s forwards;
    animation-delay: 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.favourites-link{
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 20px;
}

.favourites-link a {
    color: var(--body-text-colour)
}

.favourites-link a:visited{
    color: var(--body-text-colour)
}

.favourites-link a:hover{
    color: var(--accent-colour);
    transition: 0.5s
}

.favourites-wrapper{
    margin-top: 80px;
}

.favourites-wrapper .favourites-heading{
    text-align: center;
    font-family: var(--heading-font-family);
    color: var(--heading-text-colour);
    font-size: 24px;
    margin-bottom: 40px;
}

.likes-and-favourites{
    text-align: center;
    font-family: var(--body-font-family);
    color: var(--body-text-colour);
}

.likes-and-favourites a{
    color: var(--body-text-colour)
}

.category-heading{
    margin-bottom: 40px;
}

.helptext{
    display: block;
    color: var(--secondary-body-text-colour);
}

.change-password-wrapper{
    color: var(--body-text-colour);
    font-family: var(--body-font-family);
}

.change-password-wrapper form{
    background-color: var(--background-colour);
}

form ul{
    list-style-type: none;
    color: var(--secondary-body-text-colour);
}

.change-password-wrapper h2{
    margin-bottom: 40px;
}

.back-up-text{
    color: var(--body-text-colour);
    font-family: var(--body-font-family);
    text-align: center;
}

.login-wrapper p{
    color: var(--body-text-colour);
font-family: var(--body-font-family);
font-size: 18px;
margin: 50px;}

form p{
    margin: 30px
}

label{
    display: block;
    text-align: start;
}

.special-form label{
    display: inline;
}