{% extends "base.html" %}
{% block title %} Create A New Blog Category {% endblock %}
{% load static %} {% block stylesheets %}


{% endblock %} {% block content %}


<form action="" method="post" class="create-category-form">

    {% csrf_token %}
    <h2>Add Category</h2>
    <div class="form-wrapper">
        {{ form.as_p }}
        <input type="submit" value="Submit" class="accent-button">
        <a href="{% url 'news:index' %}" class="accent-button">Back</a>
    </div>
</form>


{% endblock %}
