{% extends "base.html" %} {% load static %} {% block stylesheets %}

{% endblock %} {% block content %}

<h2 class="category-heading">Category: {{ cats }}
</h2>

{% for story in category_posts %}
    <div id="all-stories">
        <div class="story-card">
            <a href="{% url 'news:story' story.id %}">
                {% if story.image_url != null %}
                    <img src={{ story.image_url }} />
                {% else %}
                    <img src="https://picsum.photos/600" />
                {% endif %}
            <div class="story-card-text">
                <p class="story-card-date">{{ story.pub_date }}</p>
                <h3>{{ story.title }}</h3>  
                <a href='{% url "news:category" story.category %}' class="story-card-category">{{ story.category }}</a>
                <a href="#" class="story-card-author">{{ story.author }}</a>
            
            </div>
            </a>
        </div>
    </div>

{% endfor %}

{% endblock %}