{% extends "base.html" %} {% load static %} {% block stylesheets %}

{% endblock %} {% block content %}

<h2>Latest News</h2>

<div id="latest-stories">
  {% if latest_stories %} 
  {% for story in latest_stories %} 
    {% include "./storyCard.html" with story=story position=forloop.counter %}
  {% endfor %} {% else %}
  <p>No stories are available.</p>
  {% endif %}
</div>

<h2>All Stories</h2>

<div id="all-stories">
  {% if latest_stories %} 
  {% for story in all_stories %} 
    {% include "./storyCard.html" with story=story %}
  {% endfor %} {% else %}
  <p>No stories are available.</p>
  {% endif %}
</div>

{% endblock %}

<!--use same logic from login/user display for create new story -->