{% extends "base.html" %} {% load static %} {% block stylesheets %}

{% endblock %} {% block content %}

<div class="story-card" id="story-card-{{ position }}">
  <a href="{% url 'news:story' story.id %}" class="story-card-link">
    {% if story.image_url != null %}
    <img src={{ story.image_url }} />
    {% else %}
    <img src="https://picsum.photos/600" />
    {% endif %}
    <div class="story-card-text">
      <p class="story-card-date">{{ story.pub_date }}</p>
      <h3>{{ story.title }}</h3> 
      <a href='{% url "news:category" story.category %}' class="story-card-category">{{ story.category }}</a>
      <a href="{% url 'users:profile' story.author.id %}" class="story-card-author">{{ story.author }}</a> 
    </div>
  </a>
</div>

{#{% url 'users:profile' request.user.id %}#}

{% endblock %}