{% extends "base.html" %}{% load static %}{% block stylesheets %}<head>
{% endblock %}{% block content %}

<div id="story-wrapper">
  {% if story.author == user.username%}
  <div class="story-buttons">
    <a href=" {% url 'news:editStory' story.id %}" class="accent-button">Edit Story</a>
    <a href=" {% url 'news:deleteStory' story.id %}" class="accent-button ">Delete Story</a>
  </div>
  {% endif %}

  <h2>{{ story.title }}</h2>
  
  <div id="story-content">
    {% if not story.image_url %}
      <img src="https://picsum.photos/600">
    {% else %}
      <img src="{{ story.image_url }}" />
    {% endif %}
    <p>{{ story.content|linebreaks }}</p>
  </div>
  <a href="#" class="story-author">Written by {{ story.author }}</a>
  <a href='{% url "news:category" story.category %}' class="category-button accent-button">{{ story.category }}</a>
</div>
Liked by {%for user in story.liked_by.add %}{{user.username}}{% endfor %}
  <a href="{% url 'news:like' story.id %}"> like this story </a>
<div class="comments-wrapper">
  <h3>Comments</h3>
  {% if not story.comments.all %}
    <p>No comments yet</p>
    <a href="{% url 'news:addComment' story.id %}" class="accent-button">Add comment</a>
  {% else %}
    <a href="{% url 'news:addComment' story.id %}" class="accent-button">Add comment</a>
      {% for comment in story.comments.all %}
      <div class="comment-wrapper">
        <p class="comment-details">
          {{ comment.name }} - {{ comment.date_added }}
        </p>
        <p class="comment-body">
          {{ comment.body }}
        </p>
      </div>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}

<!--views, url, html--> 